<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css" />
    <link rel="stylesheet" href="_content/StandupJournal.Shared/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/StandupJournal.Shared/app.css" />
    <link rel="stylesheet" href="StandupJournal.Web.styles.css" />
    <ImportMap />
    <link rel="icon" type="image/png" href="_content/StandupJournal.Shared/favicon.png" />
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
</head>

<body>
    <Routes @rendermode="InteractiveWebAssembly" />
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/js/initializersLoader.web.js"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
