@* <div class="brand">Standup Journal</div>
 *@
<nav class="nav-list">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Today</NavLink>
    <NavLink class="nav-link" href="calendar">Calendar</NavLink>
    <NavLink class="nav-link" href="search">Search</NavLink>
@*     <NavLink class="nav-link" href="insights">Insights</NavLink>
 *@    <NavLink class="nav-link" href="settings">Settings</NavLink>
    <NavLink class="nav-link" href="history">History</NavLink>
</nav>

